html {
  font-family: 'CS Gordon', sans-serif;
}

body {
  background-color: black;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-family: 'M PLUS 1 Code', sans-serif;                                            
}

h1 {
  color: gold;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: 'Feeling Babylon', sans-serif;                                                
}

h2 {
  color: gold;
  font-family: 'CS Gordon', sans-serif;
}

a {
  color: gold;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 1.5em;
}

img {
  width: 100%;
}

/* bigger than phone */
@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .two-col {
    display: flex;
    flex-direction: row;
    gap: 40px;

    .left {
      flex: 2;
    }

    .right {
      flex: 1;
    }
  }
}
